.recras-onlinebooking input, .recras-onlinebooking select, .recras-onlinebooking button, .recras-onlinebooking textarea {
    font: inherit;
    height: auto;
    padding: 0.5em;
}
.recras-onlinebooking input, .recras-onlinebooking select, .recras-onlinebooking button {
    line-height: 1;
}
.recras-onlinebooking textarea {
    line-height: 1.25;
}

.recras-onlinebooking input:not([type="checkbox"]):not([type="radio"]), .recras-onlinebooking select, .recras-onlinebooking textarea,
.recras-buy-voucher input:not([type="checkbox"]):not([type="radio"]), .recras-buy-voucher select, .recras-buy-voucher textarea {
    background: #fff;
    border: 1px solid hsl(5, 63%, 56%);
    width: 100%;
}
.recras-onlinebooking button,
.recras-buy-voucher button {
    background: hsl(5, 63%, 56%);
    border: 1px solid hsl(5, 63%, 56%);
    color: white;
    text-transform: uppercase;
}
.recras-onlinebooking button:hover, .recras-onlinebooking button:active,
.recras-buy-voucher button:hover, .recras-buy-voucher button:active {
    background-color: hsl(5, 63%, 68%);
}
.recras-onlinebooking button[type="submit"], .recras-buy-voucher button[type="submit"] {
    font-size: 1.2em;
    margin-top: 0.5em;
    padding: 0.5em 1em;
}

.recras-onlinebooking h3 {
    background: hsl(5, 63%, 56%);
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    grid-column: 1 / 3;
    letter-spacing: normal;
    margin: 0;
    padding: 1rem;
}

.recras-amountsform > div:first-of-type {
    margin-top: 1rem;
}

.recras-onlinebooking > *:not(.recrasLoadingIndicator) {
    border-top: none !important;
    /*padding: 0 !important;*/
}
.recras-onlinebooking > * + * {
    margin-top: 2em;
}
p:empty {
    margin: 0;
}
.recras-contactform input:not([type="checkbox"]):not([type="radio"]), .recras-contactform select, .recras-contactform textarea {
    max-width: 22em;
}
.recras-onlinebooking input[type="checkbox"], .recras-onlinebooking input[type="radio"] {
    margin-right: 0.5em;
}

.recras-amountsform {
    padding: 0 0 1.5rem 0 !important;
}
.recras-amountsform input {
    width: 8em;
}
.recras-amountsform p {
    padding: 0;
}
.recras-onlinebooking > div.recras-datetime,
.recras-contactform > div {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 12em;
}

@media all and (min-width: 641px) {
    .recras-discounts button, .recras-discounts button {
        margin-left: 0.5em;
    }
}
.recras-onlinebooking-date, .recras-onlinebooking-time {
    width: 200px;
}
.recras-datetime .recrasLoadingIndicator {
    height: 1em;
    margin-left: 0.5em;
    width: 1em;
}

.recras-discounts {
    margin-top: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.standard-attachments p {
    margin-bottom: 0.5em;
}

.recras-contactform-required::after {
    color: hsl(5, 63%, 56%);
}



/* Chrome/Safari Mac fixes */
.recras-onlinebooking input[disabled] {
    background: white !important;
}
.recras-onlinebooking select {
    border-radius: 0;
}


/*** Book processes ***/
label[for^='fixedtext_'] {
    color: #444;
}
.recras-required > label[for^='choice_']:not(:empty)::after,
.recras-required > label[for^='contact']:not(:empty)::after {
    color: #444;
}

#bookprocess aside h2 {
    --recras-color-recap-bg: hsl(5, 58%, 20%);
}

#bookprocess :is(input, button, select, textarea) {
    border-radius: 4px;
}
#bookprocess :is(input, select, textarea) {
    background: #fff;
    color: #000;
}
#bookprocess input[disabled] {
    background: #ccc;
}
#bookprocess input:invalid:not([value='']) {
    border: 2px solid #c00;
}
#bookprocess button {
    background: #ddd;
    border: 1px solid #bbb;
    color: #000;
    margin: 0.5em 0;
    transition: all 0.2s linear;
}
#bookprocess button:active {
    background: #eee;
}
@media (pointer: fine) {
    #bookprocess button:hover {
        background: #eee;
    }
}

#bookprocess .timeslot-capacity {
    background: hsl(5, 20%, 75%);
}

#bookprocess .primary {
    background: hsl(5, 63%, 56%);
    border-color: hsl(5, 63%, 56%);
    color: #fff;
}
#bookprocess .primary:active {
    background: hsl(5, 50%, 40%);
    border-color: hsl(5, 50%, 40%);
}
@media (pointer: fine) {
    #bookprocess .primary:hover {
        background: hsl(5, 50%, 40%);
        border-color: hsl(5, 50%, 40%);
    }
}


.react-datepicker .react-datepicker__day--keyboard-selected {
    background-color: transparent;
    color: #000;
}
.react-datepicker .react-datepicker__day--selected {
    background-color: hsl(5, 63%, 56%);
    color: #fff;
}
.react-datepicker .react-datepicker__day--selected:hover {
    background-color: hsl(5, 50%, 40%);
}
.react-datepicker__day--today::after {
    border-color: hsl(5, 63%, 56%);
}

.recras-package, .recras-product_without_time, .recras-product_with_time {
    --recras-color-plus-btn-bg: hsl(140, 20%, 75%);
}
@media (pointer: fine) {
    .recras-package .radioWrapper > label:hover,
    .recras-product_with_time .checkboxWrapper > label:hover {
        --recras-color-plus-btn-hover-bg: hsl(5, 50%, 40%);
    }
}

.recras-package :checked + label,
.recras-product_with_time > div > div :checked + label,
.recras-product_without_time > div :checked + label {
    --recras-color-plus-btn-checked-bg: hsl(5, 63%, 56%);
}
@media (pointer: fine) {
    .recras-package .radioWrapper > input + label:hover::after,
    .recras-product_with_time .checkboxWrapper > input + label:hover::after,
    .recras-product_without_time > div input + label:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z'%3E%3C/path%3E%3C/svg%3E%0A");
    }
    .recras-package .radioWrapper > input:checked + label:hover::after,
    .recras-product_with_time .checkboxWrapper > input:checked + label:hover::after,
    .recras-product_without_time > div input:checked + label:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M368 224H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h352c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z'%3E%3C/path%3E%3C/svg%3E%0A");
    }
}

.recras-product_with_time > div > div input:disabled + label,
.recras-product_without_time > div input:disabled + label {
    border-color: #aaa;
    background-color: #aaa;
}

#bookprocess .numberWithPlusMinus input {
    background-color: #fff;
    border-color: hsl(5, 63%, 56%);
    margin: 0;
}
#bookprocess .numberWithPlusMinus input:disabled {
    background-color: #aaa;
    border-color: #aaa;
}
#bookprocess .numberWithPlusMinus button {
    background-color: hsl(5, 63%, 56%);
    color: #fff;
}
.numberWithPlusMinus input[value=''],
.numberWithPlusMinus input[value='0'] {
    border-color: hsl(5, 20%, 75%);
}
.numberWithPlusMinus input[value=''] ~ button,
.numberWithPlusMinus input[value='0'] ~ button {
    background-color: hsl(5, 30%, 75%);
    color: #000;
}
.numberWithPlusMinus input:placeholder-shown ~ button {
    background-color: hsl(5, 30%, 75%);
    color: #000;
}
@media (pointer: fine) {
    .numberWithPlusMinus button:hover {
        background-color: hsl(
                180,
                65%,
                40%
        ) !important; /* Important to override styles for empty value */
    }
}

#bookprocess .spinner {
    --recras-color-spinner-base: hsl(5, 63%, 56%);
    --recras-color-spinner-accent: hsl(5, 60%, 45%);
}
